<div id="ProductPopup" class="product-popup">
  <div class="product-popup__content">
      <button class="popup-close-button" aria-label="Close popup">&times;</button>
      <div class="popup-inner-content"></div>
  </div>
</div>

{% schema %}
{
  "name": "Product Popup",
  "settings": []
}
{% endschema %}